.amazon_button{
    background-image: url("../../data/amazonicon.png");
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: center;
    height: 46px;
    width: 50%;
}

.product_image{

}


@media screen and (max-width: 400px){

}
